body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sticky-menu {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 2;
}

.menu-logo h1 {
  background: linear-gradient(to bottom right, #3498db, #2ecc71);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background-position 0.3s ease, transform 0.3s ease;
  background-size: 200%;
  background-position: 0 100%;
}

.menu-logo h1:hover {
  background-position: 100% 0;
  transform: scale(1.05);
}

.menu-links {
  list-style: none;
  display: flex;
  gap: 50px;
}
.menu-links li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  transition: 0.3s ease-in-out;
}
.menu-links a:hover {
  color: #3498db;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero-section {
  position: relative;
  height: 90.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background: linear-gradient(to bottom right, #3498db, #2ecc71);
  animation: gradientAnimation 20s ease-in-out infinite;
}
.hero-section .hero-content {
  z-index: 1;
  text-align: center;
}
.hero-section .hero-content h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
.hero-section .hero-content h1 {
  font-size: 96px;
  margin-bottom: 10px;
}
.hero-section .hero-content p {
  font-size: 36px;
  margin-top: 80px;
}

@keyframes gradientAnimation {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-25%, -25%);
  }
  75% {
    transform: translate(25%, 25%);
  }
}
.about-section {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.about-section .about-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
