@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sticky-menu {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 2;
}

.menu-logo h1 {
  background: linear-gradient(to bottom right, $primary-color, $secondary-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background-position 0.3s ease, transform 0.3s ease;
  background-size: 200%;
  background-position: 0 100%;
}

.menu-logo h1:hover {
  background-position: 100% 0;
  transform: scale(1.05);
}

.menu-links {
  list-style: none;
  display: flex;
  gap: 50px;

  li a {
    text-decoration: none;
    font-weight: bold;
    color: $dark-color;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: $primary-color;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
}


.hero-section {
  position: relative;
  height: $window-scale;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background: linear-gradient(to bottom right, $primary-color, $secondary-color);
    animation: gradientAnimation 20s ease-in-out infinite;
  }

  .hero-content {
    z-index: 1;
    text-align: center;

    h2 {
      font-size: 24*2px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 48*2px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18*2px;
      margin-top: 80px;
    }
  }
}

@keyframes gradientAnimation {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-25%, -25%);
  }
  75% {
    transform: translate(25%, 25%);
  }
}

.about-section {
  padding: 100px 0;
  background-color: $white-color;

  .about-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

  }
}

